@media (max-width: 1024px ) {
    .nav_toggle {
        display: inline-block;
    }

    .nav ul {
        display: none;
    }

    #nav_toggle:checked ~ ul {
        display: flex;
        flex-direction: column;
       
    }

    .nav ul {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #41479b;
        opacity: .9;

        padding: 5%;

        min-width: 150px;
        height: 100%;
    }
   
    .nav li:not(last-child) {
        margin-right: 0px;
        margin-bottom: 25px;
    }

    .prace_list, .discription_list,
    .content_wrapper, .parthners_block,
    .social_list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .web, .attachment, .present {

        min-width: 300px;
        margin-bottom: 20px;

    }



}


